* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amiri", serif;
  color: white;
}

.app{
  background-color: #282c34;
  color: whitesmoke;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

