.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-top: 4em;
}

@media only screen and (max-width: 768px) {
    .footer{
        margin-left: auto;
        margin-right: auto;
        font-size: smaller;
    }
}

a{
    text-decoration: none;
    color:whitesmoke;
}